@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');
.text{
    text-align: center;
    color: #1fb667;
}
:root{
    --first-color:#004d91;
    --second-color:#7ec3cb;
    --three-color:#d9d3c7;
    --four-color:#0559bb;
    --bg-body:#dadada;
    --border-item:#9b9b9b;
    --white:#fff;
    --icon-bg-1:#067ebd;
    --icon-bg-2:#a42d0d;
    --icon-bg-3:#bf209e;
    --icon-bg-4:#cfab55;
    --icon-bg-5:#6d0da4;
    --icon-bg-6:#1fb667;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-body);
}
#menu-mobile{
    display: none;
}

.sup-header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 70px;
    background-color: var(--first-color);
    color: #fff;
    padding: 20px;
}


.sup-header-white{
    background: var(--white) !important;
    height: 50px !important;
}

#logo{
    font-weight: 700;
    font-size: 1.5em;
}

#icons{
    display: flex;
}

#icons > span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
    width: 35px;
    height: 35px;
    margin-right: 20px;
    border-radius: 50%;
}

nav > a{
    text-decoration: none;
    color: #000;
    margin-right: 30px;
}

#search{
    background-color: var(--three-color);
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    width: 150px;
    color: var(--white);
    display: flex;
    font-size: 1.2em;
    justify-content: space-around;
}


.titles{
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-bottom: 1px solid #000; */
    color:var(--first-color);
    background-color: var(--white);
    box-shadow: 0px 15px 14px 0px #888888
}

.container{
    padding: 0 50px;
}


.titles h2, title p{
    margin: 0;
    padding-top: 15px;
}

.itemsApps{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
}

.itemsApps > div{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-item);
    padding: 10px 25px 30px 25px;
    height: 350px;
}

.itemsApps > div:hover{
    background-color: var(--first-color);
    color: #fff !important;
}

.itemsApps > div h1{
    font-weight: 700;
}

.itemsApps > div > div{
    text-align: center;
}

.icon{
    background:var(--first-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5em;
}

.icon:hover{
    background-color: #fff;
    color: var(--first-color);
}

.icon-bg-1{
    background-color: var(--icon-bg-1);
}

.icon-bg-2{
    background-color: var(--icon-bg-2);
}

.icon-bg-3{
    background-color: var(--icon-bg-3);
}
.icon-bg-3{
    background-color: var(--icon-bg-3);
}